body {
	background: rgb(200, 200, 200);
	font-size: 12pt;
	font-family: Helvetica;
	
}
h1 {
	color: rgb(256, 99, 99);
}
a {
	color: rgb(256, 33, 33);
}
p {
	border-bottom: 1px solid rgb(256, 99, 99);
	padding-bottom: 5px; 
}

.column1 {
	background: lightsalmon;
}
.column2 {
	background:green;
}
.column3 {
	background:blue;
}